<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="ExplicitTimeout" value="60" />
    <add key="PageLoadTimeout" value="200" />
    <add key="IntervalWaitTimeValue" value="500" />
    <add key="Browser" value="Chrome" />
    <add key="DownloadFolderOption" value="Chrome" />

    <add key="Trello_URL" value="https://api.trello.com/1" />

    <add key="Google_URL" value="https://www.googleapis.com/" />
    <add key="Google_Key" value="" />

    <add key="Investagrams_URL" value="https://webaapi.investagrams.com/1" />
    <add key="Investagrams_Login" value="https://www.investagrams.com" />


    <add key="PSEI_API_URL" value="http://phisix-api4.appspot.com" />

    <add key="Pushbullet_URL" value="https://api.pushbullet.com/v2" />
    <add key="Pushbullet_Token" value="" />
    
  </appSettings>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
